<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<p th:text="${themleaf}"></p>
<!--shiro:hasPermisson 权限验证  -->
<div shiro:hasPermisson="user:add"><a href="/add">进入添加功能</a><br></div>

<div shiro:hasPermisson="user:add"><a href="/update">进入更新功能</a><br></div>
<a href="/upload">进入上传文件功能<br></a>
<a href="/red">抢红包<br></a>
<a href="/tologin">返回登陆页面</a>
</body>
</html>